# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
 .env.local 
 .env
# dependencies
.env
/node_modules
/react-client/node_modules
/dist
/functions-build
/.pnp
.pnp.js
/.eslintcache
package-lock.json
# testing
.env
/coverage
dump
.netlify
.netlify/*

# production
/build
.env

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Local Netlify folder
.netlify
netlify/functions/server