/* .dealer-details-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}
.dealer-details-input{
    height: 40px;
    width: 220px;
} */