.savings-print-only {
    display: none;
}
.new-bill-text-title{
    position: relative;
}
.refresh-bill-button{
    
    position: absolute;
    left: 0%;
}
@media print {

    body * {
        visibility: hidden;
    }

    .new-bill-page,
    .new-bill-page * {
        visibility: visible;
        margin: 0;
        padding: 0;
    }
    
    .new-bill-page .item-count,
    .new-bill-page .mantine-Title-root {
        display: none; 
    }
    
    .items-payments-grid {
        display: flex;
        flex-direction: column;
    }

    .new-bill-page {
        width: 60mm;
        margin: 0 auto;
        font-size: 12px;
    }

    
    .shop-details p {
        margin-bottom: 5px;
    }
    .savings{
        display: none;
    }

    .savings-print-only {
        display: block ;
        margin-top: 15px ;
        border: 2px dashed black;
        padding: 5px;
        font-weight: bold;
        text-align: center;
        page-break-before: avoid;
    }
    .barcode {
        text-align: center;
        margin: 10px 0;
    }
    
}