.add-expense-container {
  width: 740px;

  form {
    display: flex;
    align-items: flex-end;
    margin-top: 15px;

    .mantine-NumberInput-root,
    .mantine-TextInput-root,
    .mantine-UnstyledButton-root {
      margin-left: 12px;
    }

    .mantine-gqmpge {
      width: 260px;
    }

    .mantine-NumberInput-root {
      width: 120px;
    }

    .mantine-UnstyledButton-root {
      margin-left: 12px;
    }
  }

  .mantine-1lpqoty {
    line-height: 2.9;
  }

  #expenseTable {
    tbody {
      tr {
        td {
          padding: 2px 6px;
        }

        td:nth-child(1) {
          width: 120px;
        }

        td:nth-child(3) {
          width: 110px;
        }

        td:nth-child(4) {
          width: 80px;
        }

        td:nth-child(5) {
          width: 40px;
        }

        td:nth-child(6) {
          width: 40px;
        }
      }
    }
  }
}
