.main-outer-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.main-inner-box {
  height: auto;
  padding: 5px 0;
  width: 520px;
  border: 1px solid black;
  margin: 5px 0;
}

.Line-through-text-size {
  text-decoration-line: line-through;
  font-size: 110px;
}

.Line-through-size {
  text-decoration-line: line-through;
  font-size: 3.75rem;
}

.Font6rem {
  font-size: 6rem;
}

.Font8rem {
  font-size: 8rem;
}

.Font6rem {
  font-size: 6rem;
}

.FontSize110px {
  font-size: 110px;
}

// myLabel-css
.myLabel {
  border: 1px solid black;
  margin: 2rem 0 5px;
  height: 360px;
  padding: 5px 0;
  width: 340px;
}

.myLabel.checked {
  height: auto;
}

.myLabel.length4 {
  width: 600px;
}

.myLabel.length3 {
  width: 520px;
}

.myLabel.length2 {
  width: 430px;
}

// mylabel-content
.mylabel-content {
  margin-top: 0.5rem;
  display: flex;
}

.mylabel-content.checked {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//table settings
.table-settings {
  width: 50%;
}

.table-settings-checked {
  width: 50%;
  display: flex;
  justify-content: center;
}

//Table-layout
.tableLayout {
  table-layout: auto;
}

.tableLayout.checked {
  position: relative;
  left: 0.5rem;
}

h4 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 5px;
}

.h4-checked {
  width: 60%;
  margin: 0 auto;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
}

h6 {
  font-size: 1.25rem;
}

.outer-div {
  display: flex;
}

table {
  border-spacing: 10px 0;
}

th {
  text-align: left;
  font-size: 1.8rem;
}

td {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1em;
  padding: 0.2rem;
  text-align: left;
}

.price-align {
  text-align: center;
}

// input search bar
.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown {
  padding: 7px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: 1rem;
  border-top: none;
  font-size: large;
  font-weight: bold;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  padding: 5px 0;
}

input {
  width: 220px;
}

.search-inner {
  display: flex;
}

.input-item-search {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 20rem;
  height: 1.5rem;
  border-radius: 5px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  font-weight: bold;
  margin-right: 1rem;
}

#mantine-vehxkegqj {
  cursor: pointer;
}

.label {
  font-weight: bold;
  text-align: center;
}

.search-btn {
  height: 1.5rem;
  margin-right: 1rem;
}

.show-search-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}

.search-item-name-dropdown {
  display: inline-block;
  margin-right: 2rem;
  width: 8rem;
}

@media print {
  .search-container {
    display: none;
  }

  .close-btn {
    display: none;
  }
}
