.orders-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    .orders-wrapper{
        text-align: initial;
        display: block;
        width: 100%;
        height: 600px;
        background: #dfd8d8;
        min-width: 300px;
        border-radius: 9px;
        border: 1px solid #cacaca;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            padding: 1rem;
            .orders-title{
                font-size: 16px;
                font-style: normal;
                font-weight: bold;
            }
        }
        .order-card-container{
            padding: 1rem;
            background: white;
            border: 1px solid #cacaca;
            border-radius: 8px;
            header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 1rem;
                p{
                    font-weight: bold;

                }
                border-bottom: 1px solid #cacaca;
            }
        }
    }
}