.orders-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    background-color: white;
    .order-status-conatiner {
        .orders-wrapper {
            display: flex;
            flex-direction: column;
            padding: 15px;
            width: 400px;
            background-color: #dfd8d8;
            margin-left: 10px;
            margin-top: 10px;
            min-width: 250px;
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                padding: 10px;
                .orders-title {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: bold;
                }
            }

            .order-card-container {
                height: 18vh;
                width: 345px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: white;
                .order-card-info-container {
                    height: 14vh;
                    width: 345px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 20px;
                    .slot-method-container {
                        height: 5vh;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        .payment-method {
                            width: 100px;
                            border: 1px solid black;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .delivery-slot {
                            width: 100px;
                            background-color: rgb(8, 154, 56);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                        }
                    }
                    .address-container {
                        height: 7vh;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                    }
                }
                .confirm-order-btn-container {
                    width: 345px;
                    height: 4vh;
                    .confirm-order-btn {
                        width: 345px;
                        height: 4vh;
                    }
                }
            }
        }
    }
}

