.mantine-Drawer-title	{
    font-weight: bold;
    font-size: 18px;
}
.order-detail{
    margin-bottom: 1rem;
}
.purchase-order-title{
    color: #0078ea;
    margin-bottom: 1rem;
}
.checkbox{
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start; 
    margin: auto;
    padding-bottom: 8px;
}