.approvePurchaseOrderForm-component {

    padding: 50px 10px 20px;
    /* background-color: bisque; */
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
   

    .approvePurchaseOrderForm-form {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        gap: 10px;

        .approvePurchaseOrderForm-file-input {
            display: none;
        }
.approvePurchaseOrderForm-amount-input-label,
.approvePurchaseOrderForm-file-input-label{
    font-size: 12px;
    font-weight: 600;
}

        .approvePurchaseOrderForm-amount-input {
            height: 40px;
            width: 240px;
            border-radius: 7px;
            border: 0.5px solid #ddd;
            padding: 0 5px;
            margin-right: 10px;
            outline: none;
        }

    
        /* .approvePurchaseOrderForm-amount-button{
            height: 40px;
            width: 240px;
            background-color: rgb(75, 149, 254);
            border: none;
            color: #fff;
            border-radius: 7px;
            cursor: pointer;
            outline: none;
        } */
        .approvePurchaseOrderForm-amount-input-button{
            height: 40px;
            width: 240px;
            background-color: transparent;
            border: none;
            color: #fff;
            border-radius: 7px;
            cursor: pointer;
            outline: none;
            border: 1px solid rgb(75, 149, 254) ;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
        }
        .approvePurchaseOrderForm-amount-input-button-disabled{
            height: 40px;
            width: 240px;
            background-color: #ccc;
            border: none;
            color: #fff;
            border-radius: 7px;
            cursor: no-drop;
            outline: none;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .approvePurchaseOrderForm-file-input-button{
            height: 40px;
            width: 240px;
            outline: none;
            border: 1px dashed rgb(75, 149, 254);
            color: #fff;
            background-color: transparent;
            border-radius: 7px;
            font-size: 14px;
            cursor: pointer;
            font-weight: 600;
            letter-spacing: 1px;

        }
        

        .approvePurchaseOrderForm-checkbox-input-container,
        .approvePurchaseOrderForm-Exact-amount-input-container {
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            width: 240px;
            
           
            .approvePurchaseOrderForm-checkbox-input-label,
            .approvePurchaseOrderForm-Exact-amount-input-label {
                font-size: 12px;
                font-weight: 600;
                
            }
            .approvePurchaseOrderForm-checkbox-input,
            .approvePurchaseOrderForm-Exact-amount-input {
                cursor: pointer;
                height: 17px;
                width: 17px;
                
            }

        }
    }





}