
.left-spacing {
    margin-left: 1rem;
}
.outer-div{
    height: 27rem;
}
.toggle-height {
   
   height: 27rem;
}
.table-scroll{
    height: 27rem;
    overflow-y: scroll; 
}
.position-heading{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.date-margin{
    margin-left: 1px;
    margin-bottom: 1px;
}