
.left-spacing {
    margin-left: 1rem;
}
.outer-div{
    height: 27rem;
}
.toggle-height {
   
   height: 27rem;
}
.table-scroll{
    height: 27rem;
    overflow-y: scroll; 
    scrollbar-width: none; 
}
.table-scroll::-webkit-scrollbar {
    display: none;
}
.table-scroll {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
.position-heading{
    background-color: #7db3e2;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.date-margin{
   margin: 1px;
}