.add-expired-item-list-component {
    min-height: 100vh;

    .add-expired-item-list-head {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .add-expired-item-list-table {
        width: 100%;
        border-collapse: collapse;

        .add-expired-item-list-table-thead {
            .add-expired-item-list-table-tr {
                .add-expired-item-list-table-th {
                    font-size: 16px;
                    padding: 5px;
                    border: 1px solid black;
                }
            }
        }

        .add-expired-item-list-table-tbody {
            .add-expired-item-list-table-tr {
                .add-expired-item-list-table-td {
                    font-size: 14px;
                    padding: 5px;
                    border: 1px solid black;
                }

                &:nth-child(odd) {
                    background-color: #fff;
                }
            }
        }
    }

    .expired-item-list-not-found{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        p{
            padding: 15px;
            border-radius: 10px;
            width: fit-content;            
            background-color: rgb(255, 255, 255);
        }
    }

    .expired-item-list-navigation-bar {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .expired-item-list-navigation-bar-side {
            width: 200px;

            .expired-item-list-navigation-bar-side-p {
                font-size: 16px;
                font-weight: 600;

                .expired-item-list-navigation-bar-side-span {
                font-weight: 400;

                }
            }
        }        

        .expired-item-list-navigation-button-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .expired-item-list-navigation-button {
                border-radius: 10px;
                height: 30px;
                width: 90px;
                border: none;
                outline: none;
                background-color: #fff;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }
            .expired-item-list-navigation-button-disabled{
                border-radius: 10px;
                height: 30px;
                width: 90px;
                border: none;
                outline: none;
                background-color: #fff;
                font-size: 16px;
                font-weight: 600;
                cursor: no-drop;
            }


            .expired-item-list-page-counter {
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}