
.left-spacing {
    margin-left: 1rem;
}
.outer-div{
    max-height: 27rem;
    max-width: 36rem;
    margin: 0 auto;
}
.table-scroll{
    height: 27rem;
    overflow-y: scroll; 
    scrollbar-width: none; 
}
.table-scroll::-webkit-scrollbar {
    display: none;
}
.table-scroll {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
.position-heading{
    background-color: #7db3e2;
}
.date-margin{
   margin: 1px;
}

.parent-datePicker{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
th{
    font-size: 1.3rem;
}

td{
    padding-bottom: 1rem;
}