.order-flex-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
.form-input-tops{
    width: 28vmin;
}