.order-loader-container{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.order-status-title {
    text-transform:capitalize;
    font-size: 25px;
    margin: 2rem 0rem;
}