.order-flex-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.form-input-tops {
  width: 28vmin;
}

.payment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.constant-payment-options {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.constant-payment-input {
  width: 10vmin;
}

.payment-constant-input {
  width: 30vmin;
}

.payment-paid-input {
  width: 20vmin;
}

.payment-paid-option {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid grey;
  border-style: dashed;
  padding: 1vmin;
}

.image-select-container {
  margin-top: 15px;
  width: 100%;

  .image-input-container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    .image-input-label {
      font-size: 14px;
      font-weight: 500;
    }
    .selected-image-card{
      width: 18vh;
      height: 13vh;
      overflow: hidden;
      .selected-image{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .image-input {
     
      width: 100%;
      height: 35px;
      /* border: .5px solid #bbbb; */
      outline: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      .input{
        border-radius: 4px;
         padding: 0 12px;
        width: inherit;
        height: 100%;
        border: none;
        border: .5px solid #ccc;
      }
      .search-image-button{
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: 500;
        height: 100%;
        background-color: rgb(34, 139, 230);
        padding: 0 15px;
        outline: none;
        border: none;
      }
    }

    .image-input::placeholder {
      font-size: 13px;
      color: #ddd;
    }
  }

  .image-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 10px;
    max-height: 50vh;
    overflow-y: scroll;
  

    .image-card {
      width: 100%;
      height: 13vh;
      background-color: aquamarine;
      overflow: hidden;
      
      .image{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

    }
  }
  .image-container::-webkit-scrollbar{
    display: none;
  }
  .show-more-image-container{
    padding-top: 10px;
    width: 100%;
    text-align: right;
    .show-more-image-button{
      cursor: pointer;
      font-size: 12px;
      font-weight: 400;
    }

  }
  



}