.unpaidPurchaseOrder-container {
    padding: 10px;

    .unpaidPurchaseOrder-title {
        font-size: large;
    }

    .unpaidPurchaseOrder-bill-container {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: start;

        .carousel {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            .carousel-image-container {
                padding: 5px;
                border-radius: 7px;
                height: 400px;
                width: 350px;
                background-color: rgba(240, 248, 255, 0.223);

                .carousel-image {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .carousel-controls {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 40px;

                .carousel-button {
                    width: 25px;
                    height: 25px;
                    font-size: 10px;
                    cursor: pointer;
                    border-radius: 50%;
                    outline: none;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                }
            }

            .carousel-button:disabled {
                cursor: not-allowed;
                opacity: 0.5;
            }
        }
    }

    .unpaidPurchaseOrder-table-container {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: left;
        gap: 5px;

        .unpaidPurchaseOrder-table {
            border-collapse: collapse;

            .unpaidPurchaseOrder-table-thead {
                .unpaidPurchaseOrder-table-thead-tr {
                    .unpaidPurchaseOrder-table-thead-tr-th {
                        font-size: 10px;
                        padding: 7px;
                        text-align: left;
                        border: 1px solid #ddd;
                        min-width: 100px;
                    }
                }

                .unpaidPurchaseOrder-table-thead-tr:nth-child(even) {
                    background-color: aliceblue;
                }
            }

            .unpaidPurchaseOrder-table-tbody {
                .unpaidPurchaseOrder-table-tbody-tr {
                    .unpaidPurchaseOrder-table-tbody-tr-td {
                        font-size: medium;
                        padding: 7px;
                        text-align: left;
                        border: 1px solid #ddd;
                    }
                }
            }
        }

        .unpaidPurchaseOrder-button {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }

    .unpaidPurchaseOrder-text {
        margin-top: 10px;
        font-size: medium;
    }

    .unpaidPurchaseOrder-items-table-container {
        width: 100%;
        overflow-x: scroll;

        .unpaidPurchaseOrder-items-table {
            margin-top: 10px;
            border-collapse: collapse;

            .unpaidPurchaseOrder-items-table-thead {
                .unpaidPurchaseOrder-items-table-thead-tr {
                    .unpaidPurchaseOrder-items-table-thead-tr-th {
                        font-size: 10px;
                        padding: 7px;
                        text-align: left;
                        border: 1px solid #ddd;
                        min-width: 100px;
                    }
                }
            }

            .unpaidPurchaseOrder-items-table-tbody {
                .unpaidPurchaseOrder-items-table-tbody-tr {
                    .unpaidPurchaseOrder-items-table-tbody-tr-td {
                        font-size: 10px;
                        padding: 7px;
                        text-align: left;
                        border: 1px solid #ddd;
                        min-width: 100px;
                    }
                }

                .unpaidPurchaseOrder-items-table-tbody-tr:nth-child(odd) {
                    background-color: aliceblue;
                }
            }
        }
    }

    .unpaidPurchaseOrder-items-table-container::-webkit-scrollbar {
        display: none;
    }
}