 .unpaidPOs-container {
    .unpaidPOs-table {
        width: 100%;
        border-collapse: collapse;

        .unpaidPOs-table-thead {
            .unpaidPOs-table-thead-tr {
                .unpaidPOs-table-thead-tr-th {
                    font-size: small;
                    padding: 5px;
                    text-align: left;
                    border: 1px solid #ddd;

                }
            }
        }

        .unpaidPOs-table-tbody {
            .unpaidPOs-table-tbody-tr-even,
            .unpaidPOs-table-tbody-tr-odd {

                cursor: pointer;


                .unpaidPOs-table-tbody-tr-td {
                    font-size: small;
                    padding: 5px;
                    text-align: left;
                    border: 1px solid #ddd;
                }

                #td-button {
                    .unpaidPOs-table-tbody-tr-td-div {
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        gap: 10px;

                        .unpaidPOs-table-tbody-tr-td-cover-button {
                            cursor: pointer;
                            color: #fff;
                            border: none;
                            outline: none;
                            font-weight: 500;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;
                            background: transparent;
                        }
                    }
                }
            }

            .unpaidPOs-table-tbody-tr-even {
                background-color: aliceblue;
            }
        }
    }

}