@media print {
    .bill-items{
        width: 60mm;
    }
    
    .bill-items{
        width: 60mm;
    }
    
    .bill-items-table {
        border: none !important;
        width: auto !important;
        margin: 0 !important;
    }
   
    .bill-items::before,
    .bill-items::after {
        content: "-------------------------------------------------------";
        display: block;
        text-align: center;
        font-size: 12px;
        margin: 5px 0;
    }

    .bill-table-header,
    .bill-body-tdata {
        text-align: left;
        padding-left: 0px !important;
        padding-right: 30px !important;
        border: none !important;
        font-size: 12px;
    }

    .bill-table-header {
        padding-bottom: 12px;
    }

    .bill-body-tdata {
        padding-top: 8px; 
    }

    .bill-table-header:nth-child(5),
    .bill-body-tdata:nth-child(5),
    .bill-table-header:nth-child(3),
    .bill-body-tdata:nth-child(3),
    .bill-table-header:nth-child(7),
    .bill-body-tdata:nth-child(7) {
        display: none;
    }
    
    .quantity-input {
        border: none;
        background: transparent;
        padding: 0;
        width: 10px !important;
        font-size: inherit; 
       
    }
    .quantity-input input {
        border: none;
        outline: none;
        background: transparent;
    }

    .quantity-input:focus,
    .quantity-input:active {
        border: none;
        outline: none;
    }

    .bill-item-remove-btn,
    .item-search {
        display: none;
    }

    .bill-inputs {
        border: none;
    }

    .bill-items-table {
        width: 100%;
        
    }

    .bill-body-tdata:first-child {
        word-wrap: break-word;
        white-space: normal; 
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
    }

    .bill-body-tdata {
        font-weight: normal;
        font-size: 14px;
        
    }
}
