.purchase-order-container {
    // border: 1px solid red;

    td, th{
        // border: 1px solid blue;
    }

    thead{
        // border: 1px solid gray;
        // margin: 20px 0;
    }

    .text-input{
        width: 200px;
        margin: 0 4px;
    }
    
    .number-input{
        width: 100px;
        margin: 0 4px;
    }
    
    .select-input{
        width: 120px;
        margin: 0 4px;
    }

    .page-title {
        margin-bottom: 20px;
    }

    .useby-date-container{
        // border: 1px solid red;

        #useByDate{
            width: 100%;
            border: 1px solid rgb(203, 199, 199);
            width: 195px;
            // margin-bottom: 3px;
        }

        .new-date-row{
            display: flex;
            width: 195px;
            align-items: center;
            margin: 3px 0;

            .mantine-gqmpge {
                width: 105px;
            }

            .per-date-quantity {
                margin: 0 5px 0;
                .mantine-gqmpge {
                    width: 50px;
                }
            }

            .delete-icon{
                margin-left: 5px;
                cursor: pointer;
            }
        }
    }

    .add-icon{
        border: 1px solid red;
        padding: 5px 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }

    .mantine-186fes1 {
        width: auto;
    }

    .mantine-gqmpge {
        width: 100%;
        padding: 0 9px;
    }

    .mantine-186fes1 tbody tr td{
        padding: 0;
    }
}