.payment-input-wrapper {
    position: relative;
    width: 100%;
  }
  
  .payment-input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    
    pointer-events: none;
    z-index: 99;
  }
  
  .payment-input-with-icon input{
    padding-left: 40px ; 
  }
  
  
.payment-input-wrapper {
    position: relative;
    width: 100%;
  }
  
  .payment-input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    
    pointer-events: none;
    z-index: 99;
  }
  
  .payment-input-with-icon input{
    padding-left: 40px ; 
  }
  
  
@media print {
    .payment-section {
        width: 60mm;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: none;
        box-shadow: none;
        border: none;
        padding: 0 ;
        margin: 0 ;
    }
    
      

    .payment-section * {
        background: none;
        box-shadow: none;
        border: none;
        color: black ;
      
        margin: 0 ;
        padding: 0 ;
    }

    .payment-details-text {
        display: none;
    }

    .amount-display-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-bottom: 10px;
    }

    .amount-display * {
        font-size: 14px ;
        font-weight: bold;
    }

    .payment-inputs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: normal;
        font-size: 14px ;
   
    }

    .cash-input, .upi-input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        font-weight: normal ;
        font-size: 14px ;
    }

    .cash-paid-text, .upi-paid-text {
        width: 100% ;
        text-align: left;
        display: flex;
        align-items: center;
        font-weight: normal;
        font-size: 14px ;
    }

    .cash-input input, .upi-input input {
        border: none;
        outline: none;
        background: none;
        font-size: 14px;
        text-align: right;
    }
    
    .pay-print-button {
        display: none;
    }

    .mantine-Paper-root {
        background: none;
        box-shadow: none;
        border: none;
    }

    .mantine-Alert-root {
        border: none;
        background: none;
        box-shadow: none;
    }

    .cash-input label, .upi-input label {
        margin-right: 10px;
    }
    .payment-input-icon {
        display: none;
    } 
    
   
}